.css-y7ab46-MuiPaper-root-MuiDrawer-paper {
  height: 545px !important;
}
.css-z2qibm-MuiListItem-root{
  text-align: right !important;
  border-bottom: 1px solid black;
  padding: 20px !important;
}
.css-rizt0-MuiTypography-root {
  font-size:1.3rem !important;
}
