@font-face {
  font-family: 'B-Yekan';
  src: local('B-Yekan'), url(./assets/Yekan/Yekan/Yekan.ttf) format('truetype');
}

*{
  font-family: 'B-Yekan' !important;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  color: black !important;
  font-family: 'B-Yekan' !important;
  box-sizing: border-box;
}



